<h2 mat-dialog-title>Cadastrar Programação</h2>
<mat-dialog-content class="mat-typography">
    <div [formGroup]="programmingForm" fxLayout="column">
        <mat-form-field class="example-full-width">
            <input required type="text" placeholder="Edição" matInput formControlName="edition"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
            <mat-icon (click)="addEdition($event)" class="add-button" *ngIf="(filteredOptions | async).length === 0"
                      mat-icon-button matSuffix>add
            </mat-icon>
            <mat-error *ngIf="programmingForm.controls['edition'].hasError('required')">
                O campo edição é <strong>obrigatório.</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="input-card">
            <input name="date" matInput formControlName="date" pattern="\d{2}\/\d{2}\/\d{4}" placeholder="Data"
                   required>
            <mat-icon matSuffix>date_range</mat-icon>
            <mat-error *ngIf="programmingForm.controls['date'].hasError('required')">
                O campo data é <strong>obrigatório.</strong>
            </mat-error>
            <mat-error *ngIf="programmingForm.controls['date'].hasError('pattern')">
                Entre com uma data válida.
            </mat-error>
        </mat-form-field>
        <div class="input-card"><!---->
            <span style="color: rgba(0,0,0,.54);">Detalhes do Evento</span>
            <!--<div style="margin-bottom: 10px;"></div>-->
            <quill-editor [ngClass]="{'disabled': readOnly}" #quill placeholder="Insira a descrição da programação"
                          [readOnly]="readOnly" formControlName="description" [modules]="modules"
                          [style]="{height: '200px'}"></quill-editor>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true">Cancelar</button>
    <button mat-button (click)="save()" color="primary">Salvar</button>
</mat-dialog-actions>