:host {
  overflow-x: hidden;
  mat-dialog-content {
    overflow: hidden;
  }
  .add-button {
    cursor: pointer;
  }
  ::ng-deep.ql-tooltip {
    left: 0 !important;
  }
  ::ng-deep.disabled {
    .ql-toolbar {
      visibility: collapse;
      height: 0px;
    }
    .ql-container {
      border: dashed rgba(0, 0, 0, .42) 1px !important;
      border-top: dashed rgba(0, 0, 0, .42) 1px !important;
    }
    .ql-tooltip + div {
      display: none;
    }
  }
  ::ng-deep.mat-input-element:disabled {
    color: #000;
  }
}
