<div [class]="containerClass" [ngClass]="{
        'has-error': !valid && (touched || dirty) && !disabled && !readonly,
        'has-success': valid  && !disabled && !readonly && (touched || dirty) && allowSuccess,
        'input-group': inputGroupBtn != null,
        'open': value && value.length > 0
     }">

    <ng-container *ngIf="type != 'text-area'">
        <input (focus)="setTouched()" [name]="name" [min]="minlength" [max]="maxlength" [mask]="inputMask" [class]="inputClass + ' form-control'"
            [ngClass]="{'readonly': readonly, 'invalid': !valid && (touched || dirty) && !disabled && showValidationMessage}"
            [placeholder]="placeholder" [value]="value" (input)="setValue($event.target.value)" [disabled]="disabled" [type]="type">
    </ng-container>
    <ng-container *ngIf="type == 'text-area'">
        <textarea [name]="name" [mask]="inputMask" [class]="inputClass + ' form-control'" [ngClass]="{'readonly': readonly}" [placeholder]="placeholder"
            [value]="value" [rows]="rows" (click)="setTouched()" (input)="setValue($event.target.value)" [disabled]="disabled"></textarea>
    </ng-container>

    <div *ngIf="inputGroupBtn != null" [class]="inputGroupClass" [ngStyle]="{'padding-top.px': label != null ? 24 : 0}">
        <ng-container [ngTemplateOutlet]="inputGroupBtn"></ng-container>
    </div>

    <label [ngClass]="{'text-danger': !valid && (touched || dirty) && !disabled && showValidationMessage}" *ngIf="label != null">{{ label }}</label>
</div>
<label *ngIf="!valid && (touched || dirty) && !disabled && showValidationMessage" class="help-block text-danger text-right animated fadeInDown"
    style="font-weight: 300">
    {{ errors[0] }}
</label>