<div class="mat-toolbar-fab-buttom">
    <button (click)="edit({}, false, $event, 'Cadastrar Programação')" mat-fab color="accent">
        <mat-icon>add</mat-icon>
    </button>
</div>
<mat-accordion>
    <ng-container *ngFor="let item of [].constructor(5); let i = index;">
        <div class="mat-group-header">
            <span>SITES {{ i + 1 }}</span>
            <span fxFlex></span>
            <button (click)="stop($event)" routerLink="/sites/administracao/participantes" mat-icon-button
                    matTooltip="Relatório Geral">
                <mat-icon>insert_chart_outlined</mat-icon>
            </button>
        </div>
        <ng-container *ngFor="let item of [].constructor(5); let j = index; let isOdd=odd; let isEven=even">
            <div matRipple (click)="edit(item, true, $event, 'Visualizar Programação')" class="mat-item-header">
                <span><mat-icon>event</mat-icon> 0{{ i + 1 }}/0{{ (j + i) + 1 }}</span>
                <span fxFlex></span>
                <button (click)="stop($event)" routerLink="/sites/administracao/feedback" mat-icon-button
                        matTooltip="Formulário de Avaliação">
                    <mat-icon>feedback</mat-icon>
                </button>
                <button (click)="stop($event)" routerLink="/sites/administracao/participantes" mat-icon-button
                        matTooltip="Participantes">
                    <mat-icon>people</mat-icon>
                </button>
                <button (click)="edit(item, false, $event)" mat-icon-button matTooltip="Editar">
                    <mat-icon>edit</mat-icon>
                </button>
                <button (click)="delete($event)" style="margin-right: 15px;" mat-icon-button matTooltip="Deletar">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </ng-container>
    </ng-container>
</mat-accordion>