<div class="mat-toolbar-fab-buttom">
    <button (click)="edit({}, false, $event, 'Cadastrar Programação')" mat-fab color="accent">
        <mat-icon>add</mat-icon>
    </button>
</div>
<mat-accordion>
    <ng-container *ngFor="let edition of editions; let i = index;">
        <div class="mat-group-header">
            <span>{{ edition.edition }}</span>
            <span fxFlex></span>
            <button (click)="$event.stopPropagation()" routerLink="/sites/administracao/participantes" mat-icon-button
                    matTooltip="Relatório Geral">
                <mat-icon>insert_chart_outlined</mat-icon>
            </button>
        </div>
        <ng-container *ngFor="let programming of edition.programmings; let j = index;">
            <div matRipple (click)="edit(programming, true, $event, 'Visualizar Programação')" class="mat-item-header">
                <span class="programming-description">
                    <mat-icon class="push-5-r">event</mat-icon> {{ programming.date }}
                </span>
                <span fxFlex></span>
                <button (click)="$event.stopPropagation()" routerLink="/sites/administracao/feedback" mat-icon-button
                        matTooltip="Formulário de Avaliação">
                    <mat-icon>feedback</mat-icon>
                </button>
                <button (click)="$event.stopPropagation()"
                        [routerLink]="['/sites/administracao', programming.id, 'participantes']"
                        mat-icon-button
                        matTooltip="Participantes">
                    <mat-icon>people</mat-icon>
                </button>
                <button (click)="edit(programming, false, $event)" mat-icon-button matTooltip="Editar">
                    <mat-icon>edit</mat-icon>
                </button>
                <button (click)="delete(programming, $event)" style="margin-right: 15px;" mat-icon-button
                        matTooltip="Deletar">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </ng-container>
    </ng-container>
</mat-accordion>
<ng-container *ngIf="!loading && (!editions || editions.length === 0)">
    <div class="mat-typography img-responsive" style="text-align: center;">
        <h2 style="color: rgba(0, 0, 0, .4)">Nenhuma programação disponível.</h2>
    </div>
    <img class="img-responsive" src="/dist/assets/img/empty-state.png">
</ng-container>
<div class="push-100-t" style="overflow: hidden;" *ngIf="loading">
    <mat-progress-spinner class="img-responsive" mode="indeterminate"></mat-progress-spinner>
</div>