<div class="mat-toolbar-fab-buttom">
    <button mat-fab color="accent"><mat-icon>add</mat-icon></button>
</div>
<mat-accordion>
    <ng-container *ngFor="let item of [].constructor(5); let i = index;">
        <div class="mat-group-header">
            SITES {{ i + 1 }}
        </div>
        <ng-container *ngFor="let item of [].constructor(5); let j = index; let isOdd=odd; let isEven=even">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="mat-event-day">
                        <mat-icon>event</mat-icon> 0{{ i + 1 }}/0{{ (j + i) + 1 }}
                    </mat-panel-title>
                    <button (click)="stop($event)" routerLink="/sites/administracao/feedback" mat-icon-button matTooltip="Formulário de Avaliação">
                        <mat-icon>feedback</mat-icon>
                    </button>
                    <button (click)="stop($event)" routerLink="/sites/administracao/participantes" mat-icon-button matTooltip="Participantes">
                        <mat-icon>people</mat-icon>
                    </button>
                    <button (click)="stop($event)" mat-icon-button matTooltip="Editar">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button (click)="stop($event)" style="margin-right: 15px;" mat-icon-button matTooltip="Deletar">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-expansion-panel-header>
                <div>
                    <p><strong>Produção dos acadêmicos de Engenharia de Computação no segundo semestre de 2018</strong></p>
                    <ul>
                        <li>20 banners com conteúdo sobre análise e projeto de sistemas</li>
                        <li>10 sistemas de análise, projeto e codificação</li>
                        <li>8 <em>papers </em>com relatos de experiências de produtos desenvolvidos para o SITES 2015/1</li>
                        <li>7 minicursos sobre o desafio de produção EAD</li>
                        <li>Organização da Feira de Ideias</li>
                        <li>Organização do SITES</li>
                    </ul>
                </div>
            </mat-expansion-panel>
        </ng-container>
    </ng-container>
</mat-accordion>