<section class="content content-boxed overflow-hidden">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <div class="push-30-t push-50 animated fadeIn">
                <form #form="ngForm" class="form-horizontal push-30-t">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <app-input-control required name="email" [(ngModel)]="credentials.email" label="E-mail" type="email"></app-input-control>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <app-input-control required name="password" [(ngModel)]="credentials.password" label="Senha" type="password"></app-input-control>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="font-s13 text-right push-5-t">
                                <a>Esqueceu a senha?</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                            <button [disabled]="form.invalid" class="btn btn-sm btn-block btn-primary">Acessar</button>
                        </div>
                    </div>
                    <div class="form-group remove-margin-t push-5">
                        <div class="col-xs-12">
                            <a class="btn btn-block btn-social btn-google">
                                <span class="fa fa-google"></span> Entre com o Google
                            </a>
                        </div>
                    </div>
                    <div class="form-group remove-margin-t push-5">
                        <div class="col-xs-12">
                            <a class="btn btn-block btn-social btn-microsoft">
                                <span class="fa fa-windows"></span> Entre com a Microsoft
                            </a>
                        </div>
                    </div>
                    <div class="form-group remove-margin-t push-5">
                        <div class="col-xs-12">
                            <a class="btn btn-block btn-social btn-facebook">
                                <span class="fa fa-facebook"></span> Entre com o Facebook
                            </a>
                        </div>
                    </div>
                    <div class="form-group remove-margin-t push-5">
                        <div class="col-xs-12">
                            <a class="btn btn-block btn-social btn-github">
                                <span class="fa fa-github"></span> Entre com o Github
                            </a>
                        </div>
                    </div>
                    <div class="form-group remove-margin-t push-5">
                            <div class="col-xs-12">
                                <a class="btn btn-block btn-social btn-reddit">
                                    <span class="fa fa-envelope-o"></span> Entre com o E-mail
                                </a>
                            </div>
                        </div>
                </form>
                <!-- END Login Form -->
            </div>
        </div>
    </div>
</section>