<mat-accordion>
    <ng-container *ngFor="let edition of editions; let i = index;">
        <div class="mat-group-header">
            {{ edition.edition }}
        </div>
        <ng-container *ngFor="let programming of edition.programmings; let j = index;">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="mat-event-day">
                        <mat-icon>event</mat-icon>
                        {{ programming.date }}
                    </mat-panel-title>
                    <button (click)="checkIn(programming, $event)" matTooltip="Solicitar Check-in (QRCode)"
                            mat-icon-button>
                        <mat-icon>check</mat-icon>
                    </button>
                    <button (click)="feedback(programming, $event)" matTooltip="Formulário de Avaliação"
                            style="margin-right: 15px;"
                            mat-icon-button>
                        <mat-icon>description</mat-icon>
                    </button>
                </mat-expansion-panel-header>
                <div [innerHtml]="programming.description | safeHtml"></div>
            </mat-expansion-panel>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="!editions || editions.length === 0">
        <div class="mat-typography img-responsive" style="text-align: center;">
            <h2 style="color: rgba(0, 0, 0, .4)">Nenhuma programação disponível.</h2>
        </div>
        <img class="img-responsive" src="/dist/assets/img/empty-state.png">
    </ng-container>
</mat-accordion>