<div>
    <section class="content content-full content-boxed">
        <!-- Section Content -->
        <div class="text-center push-50-t push-50">
            <div>Onde você gostaria de ir hoje?</div>
            <h2 class="h1 text-black">Os melhores eventos esta semana.</h2>
        </div>
        <div class="row push-50">
            <div class="col-sm-6 col-md-4">
                <a class="block block-themed bg-image" style="background-image: url('dist/assets/img/photos/photo29.jpg');" >
                    <div class="block-header text-right push-150">
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                    </div>
                    <div class="block-content bg-black-op">
                        <h2 class="font-w700 h3 push-10 text-white text-uppercase">New York</h2>
                        <p class="text-white-op">7 Nights | From $1299</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="block block-themed bg-image" style="background-image: url('dist/assets/img/photos/photo30.jpg');" >
                    <div class="block-header text-right push-150">
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                    </div>
                    <div class="block-content bg-black-op">
                        <h2 class="font-w700 h3 push-10 text-white text-uppercase">Norway</h2>
                        <p class="text-white-op">4 Nights | From $999</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="block block-themed bg-image" style="background-image: url('dist/assets/img/photos/photo31.jpg');" >
                    <div class="block-header text-right push-150">
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                    </div>
                    <div class="block-content bg-black-op">
                        <h2 class="font-w700 h3 push-10 text-white text-uppercase">Hawaii</h2>
                        <p class="text-white-op">9 Nights | From $2399</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="block block-themed bg-image" style="background-image: url('dist/assets/img/photos/photo32.jpg');" >
                    <div class="block-header text-right push-150">
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                    </div>
                    <div class="block-content bg-black-op">
                        <h2 class="font-w700 h3 push-10 text-white text-uppercase">Egypt</h2>
                        <p class="text-white-op">3 Nights | From $599</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="block block-themed bg-image" style="background-image: url('dist/assets/img/photos/photo33.jpg');" >
                    <div class="block-header text-right push-150">
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                    </div>
                    <div class="block-content bg-black-op">
                        <h2 class="font-w700 h3 push-10 text-white text-uppercase">San Francisco</h2>
                        <p class="text-white-op">6 Nights | From $1699</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="block block-themed bg-image" style="background-image: url('dist/assets/img/photos/photo34.jpg');" >
                    <div class="block-header text-right push-150">
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                    </div>
                    <div class="block-content bg-black-op">
                        <h2 class="font-w700 h3 push-10 text-white text-uppercase">Japan</h2>
                        <p class="text-white-op">8 Nights | From $1999</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="block block-themed bg-image" style="background-image: url('dist/assets/img/photos/photo35.jpg');" >
                    <div class="block-header text-right push-150">
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                    </div>
                    <div class="block-content bg-black-op">
                        <h2 class="font-w700 h3 push-10 text-white text-uppercase">Paris</h2>
                        <p class="text-white-op">7 Nights | From $1399</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="block block-themed bg-image" style="background-image: url('dist/assets/img/photos/photo21.jpg');" >
                    <div class="block-header text-right push-150">
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                    </div>
                    <div class="block-content bg-black-op">
                        <h2 class="font-w700 h3 push-10 text-white text-uppercase">Greece</h2>
                        <p class="text-white-op">7 Nights | From $899</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="block block-themed bg-image" style="background-image: url('dist/assets/img/photos/photo36.jpg');" >
                    <div class="block-header text-right push-150">
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                        <span class="text-white-op"><i class="fa fa-star"></i></span>
                    </div>
                    <div class="block-content bg-black-op">
                        <h2 class="font-w700 h3 push-10 text-white text-uppercase">Space</h2>
                        <p class="text-white-op">3 Days | From $25499</p>
                    </div>
                </a>
            </div>
        </div>
        <!-- END Section Content -->
    </section>
</div>