<nav class="navbar header-navbar navbar-fixed-top content-mini content-mini-full">
    <div class="container-custom">
        <div class="navbar-header">
            <button (click)="isCollapsed = !isCollapsed" class="pull-left navbar-toggle" style="border: 1px solid #666;" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bg-black"></span>
                <span class="icon-bar bg-black"></span>
                <span class="icon-bar bg-black"></span>
            </button>
            <a style="display: flex; align-items: center;" href="#" class="text-black navbar-brand">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" class="mr-2">
                    <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
                    <circle cx="12" cy="13" r="4"></circle>
                </svg>
                <strong class="push-5-l">UniEventos</strong>
            </a>
        </div>
        <div class="navbar-collapse" [collapse]="isCollapsed">
            <ul class="nav navbar-nav">
                <li (click)="isCollapsed = !isCollapsed" routerLinkActive="active">
                    <a href [routerLink]="['/events/home']">Home</a>
                </li>
                <li (click)="isCollapsed = !isCollapsed" routerLinkActive="active">
                    <a>Contato</a>
                </li>
                <li (click)="isCollapsed = !isCollapsed" routerLinkActive="active" *ngIf="!isAuthenticated" class="hidden visible-xs visible-sm">
                    <a href [routerLink]="['/events/login']">Login</a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right hidden-xs hidden-sm">
                <li *ngIf="isAuthenticated">
                    <div class="btn-group">
                        <button class="btn btn-default btn-image dropdown-toggle" data-toggle="dropdown" type="button">
                            <img src="dist/assets/img/avatars/avatar10.jpg" alt="Avatar">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-header">Profile</li>
                        </ul>
                    </div>
                </li>
                <li routerLinkActive="active" *ngIf="!isAuthenticated">
                    <a href [routerLink]="['/events/login']">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" style="padding-top: 77px;">
    <router-outlet></router-outlet>
</div>
<footer class="bg-white">
    <div class="content content-boxed">
        <div class="row push-30-t items-push-2x">
            <div class="col-sm-4">
                <h3 class="h5 font-w600 text-uppercase push-20">Páginas</h3>
                <ul class="list list-simple-mini font-s13">
                    <li>
                        <a class="font-w600" href="frontend_home.html">Home</a>
                    </li>
                    <li>
                        <a class="font-w600" href="frontend_contact.html">Contato</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h3 class="h5 font-w600 text-uppercase push-20">Suporte</h3>
                <ul class="list list-simple-mini font-s13">
                    <li>
                        <a class="font-w600">Login</a>
                    </li>
                    <li>
                        <a class="font-w600">Registre-se</a>
                    </li>
                    <li>
                        <a class="font-w600">Administração</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <div class="font-s13 push">
                    <strong>UniEventos</strong>
                    <br> Av. Universitária Km 3,5 Cidade Universitária - Anápolis/GO 75083-515
                    <br>
                </div>
                <div class="font-s13">
                    <i class="si si-envelope-open"></i> suporte@unieventos.com.br
                </div>
            </div>
        </div>
        <div class="font-s12 push-20 clearfix">
            <hr class="remove-margin-t">
            <div class="pull-left">
                <span class="font-w600">UniEventos</span> ©
                <span>2017-18</span>
            </div>
        </div>
    </div>
</footer>