:host {
  min-width: 300px;
  .circular--landscape {
    display: inline-block;
    position: relative;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
  }

  mat-dialog-content {
    display: flex;
    flex-direction: column;
  }

  .circular--landscape img {
    width: auto;
    height: 100%;
    margin-left: -50px;
  }

  .input-card {
    margin-bottom: 10px;
  }
}