<div class="content text-center overflow-hidden">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <!-- Error Titles -->
            <h1 class="font-s128 font-w300 text-center text-city animated flipInX">404</h1>
            <h2 class="h3 font-w300 push-50 text-center animated fadeInUp">Lamentamos, mas a página que você está procurando não foi encontrada ..</h2>
            <!-- END Error Titles -->
            <!-- Search Form -->

            <!-- END Search Form -->
        </div>
    </div>
</div>