<div style="cursor: pointer;" class="event-card block block-themed">
    <div class="box-bg" [ngStyle]="{'background-image': 'url(' + image + ')'}"></div>
    <div class="override block-header text-right text-white push-150">
       Mais detalhes
    </div>
    <div class="override block-content bg-black-op">
        <h2 class="font-w700 h3 push-10 text-white text-uppercase">SITES</h2>
        <p class="text-white-op"><span class="fa fa-calendar push-5-r"></span>01/02/2018 à 05/02/2018</p>
    </div>
</div>