/* You can add global styles to this file, and also import other style files */
//@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import "css/bootstrap.min.css";
@import "~ngx-toastr/toastr.css";
@import "~bootstrap-social/bootstrap-social.css";
@import "less/main.less";
.sorting {
  position: relative;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.sorting:after {
  margin-left: 10px;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 14px;
  opacity: .75;
}

.sorting:after {
  opacity: .25;
  content: "\f0dc";
}

.sorting.asc:after {
  content: "\f106";
}

.sorting.desc:after {
  content: "\f107";
}

.block-opt-refresh {
  position: relative;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  > .block-header {
    opacity: .25;
  }

  > .block-content {
    opacity: .15;
  }

  &:before {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    content: " ";
    background: rgba(255, 255, 255, .75);
  }

  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: @text-color;
    font-family: Simple-Line-Icons;
    font-size: 18px;
    text-align: center;
    z-index: 6;
    content: "\e09a";
    .animation(fa-spin 2s infinite linear);
  }

  &.block-opt-refresh-icon2:after {
    content: "\e06e";
  }

  &.block-opt-refresh-icon3:after {
    content: "\e020";
  }

  &.block-opt-refresh-icon4:after {
    font-family: 'FontAwesome';
    content: "\f021";
  }

  &.block-opt-refresh-icon5:after {
    font-family: 'FontAwesome';
    content: "\f185";
  }

  &.block-opt-refresh-icon6:after {
    font-family: 'FontAwesome';
    content: "\f1ce";
  }

  &.block-opt-refresh-icon7:after {
    font-family: 'FontAwesome';
    content: "\f250";
  }

  &.block-opt-refresh-icon8:after {
    font-family: 'FontAwesome';
    content: "\f01e";
  }

  .ie9 &:after {
    content: "Loading.." !important;
  }
}

input[disabled].readonly {
  cursor: auto;
}

.select2-selection__rendered, .editable-field {
  outline: none;
}

input[disabled].editable-field {
  background: transparent !important;
  border: none !important;
  cursor: default;
  padding: 0;
  height: auto;
}

select[disabled].editable-field {
  background: transparent !important;
  border: none !important;
  cursor: default;
  padding: 0;
  height: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

.select2-container--disabled > .selection > .editable-field {
  background: transparent !important;
  border: none !important;
  cursor: default;
  padding: 0;
  height: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  outline: none;
  .select2-selection__arrow, .select2-selection__placeholder {
    display: none;
  }
}

input[disabled].editable {
  background: transparent !important;
  border: none;
  cursor: default;
  height: auto;
  border-bottom: #666666 dashed 1px !important;
}

.dropzone {
  .dz-preview {
    .dz-success-mark svg {
      background: green;
      border: none;
      border-radius: 54px;
    }
    .dz-error-mark svg {
      background: red;
      border: none;
      border-radius: 54px;
    }
  }
}

.block-options-absolute {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 3;
}

#scroll-style::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

#scroll-style::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #F5F5F5;
}

#scroll-style::-webkit-scrollbar-thumb {
  background-color: #949999;
  border: none;
}

.modal-dialog.modal-full {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
  }
}

.modal-backdrop {
  opacity: .35 !important;
}