/* You can add global styles to this file, and also import other style files */
//@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
  display: initial;
  height: 100%;
  min-height: 100vh;
  margin: 0 !important;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.087);
  font-family: 'Roboto', sans-serif;
}